
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header{
        display: flex;
        flex-direction: column;
        margin: 0 0 42px;
        border-top: 1px solid rgba(84, 84, 84 ,0.7);
        border-bottom: 1px solid rgba(84, 84, 84 ,0.7);
    }
}

@media screen and (min-width: 768px) {
    .header{
        display: flex;
        flex-direction: row;
        margin: 0 0 40px;
        border-bottom: 1px solid rgba(84, 84, 84 ,0.7);
    }
}